### Development tools ###
pytest
pytest-flakes
pytest-isort
pytest-mypy
pytest-pycodestyle
tox

### Project packages ###
numpy~=1.20.0
requests~=2.25.1
scikit-learn~=0.24.1
torch~=1.7.1
tqdm~=4.59.0
transformers~=4.6.1
